In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("../input"))

['imbd-sf']

In [2]:
data = pd.read_csv('../input/imbd-sf/data.csv')
data.head(2)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015

In [3]:
len(data)

1890

# Предобработка датасета

In [4]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [5]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)
data[data.budget==data.budget.max()].original_title

491    The Warrior's Way
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [6]:
answer_ls.append(2)
data[data.runtime==data.runtime.max()].original_title

1158    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [7]:
answer_ls.append(3)
data[data.runtime==data.runtime.min()].original_title

769    Winnie the Pooh
Name: original_title, dtype: object

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [8]:
answer_ls.append(2)
data.runtime.mean()

109.65343915343915

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [9]:
answer_ls.append(1)
data.runtime.median()

106.5

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [10]:
answer_ls.append(5)
datatemp=pd.DataFrame({'original_title': [], 'profit':[]})
datatemp.original_title=data.original_title
datatemp.profit=data.revenue-data.budget
datatemp[datatemp.profit==datatemp.profit.max()]

    original_title      profit
239         Avatar  2544505847

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [11]:
answer_ls.append(2)
datatemp[datatemp.profit==datatemp.profit.min()]

        original_title     profit
491  The Warrior's Way -413912431

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [12]:
answer_ls.append(1)
len(data[data.revenue>data.budget])

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [13]:
answer_ls.append(4)
datatemp=pd.DataFrame({'original_title': [], 'profit':[], 'year': []})
datatemp.original_title=data.original_title
datatemp.year=data.release_year
datatemp.profit=data.revenue-data.budget
datatemp2008=datatemp[datatemp.year==2008]
datatemp2008[datatemp2008.profit.max()==datatemp2008.profit]

      original_title     profit  year
600  The Dark Knight  816921825  2008

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [14]:
answer_ls.append(5)
datatemp2012_2014=datatemp[(datatemp.year>=2012) & (datatemp.year<=2014)]
datatemp2012_2014[datatemp2012_2014.profit==datatemp2012_2014.profit.min()]

       original_title     profit  year
1246  The Lone Ranger -165710090  2013

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [15]:
answer_ls.append(3)
import collections
gs=data.genres
gs_new=collections.Counter()
for key,item in enumerate(gs):
    if "|" in item:
        arrtemp=item.split("|")
        for genre in arrtemp:
            gs_new[genre]+=1
    else:
        gs_new[item]+=1

gs_new.most_common(1)

[('Drama', 782)]

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [16]:
answer_ls.append(1)
datatemp=data[data.revenue-data.budget>0]
import collections
gs=datatemp.genres
gs_new=collections.Counter()
for key, item in enumerate(gs):
    if "|" in item:
        arrtemp=item.split("|")
        for genre in arrtemp:
            gs_new[genre]+=1
    else:
        gs_new[item]+=1

gs_new.most_common(1)

[('Drama', 560)]

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [17]:
answer_ls.append(3)
data.director.value_counts()

Steven Soderbergh    13
Clint Eastwood       12
Ridley Scott         12
Shawn Levy           10
Steven Spielberg     10
                     ..
Clare Kilner          1
Richard Kelly         1
Keanu Reeves          1
Trey Parker           1
Mike Judge            1
Name: director, Length: 958, dtype: int64

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [18]:
answer_ls.append(4)
data[(data.revenue-data.budget)>0].director.value_counts()

Ridley Scott         12
Steven Soderbergh    10
Steven Spielberg     10
Clint Eastwood       10
Shawn Levy            9
                     ..
Jeff Wadlow           1
Charles Stone III     1
Rob Bowman            1
Joel Gallen           1
Tom McGrath           1
Name: director, Length: 774, dtype: int64

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [19]:
answer_ls.append(5)
datatemp=pd.DataFrame({'director': [], 'profit':[]})
datatemp.director=data.director
datatemp.profit=data.revenue-data.budget
datadir=datatemp.groupby('director').sum()
datadir[datadir.profit==datadir.profit.max()]

                   profit
director
Peter Jackson  5202593685

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [20]:
answer_ls.append(1)
import collections
cast_dict=collections.Counter()
for ind in data.index:
    arr=data.cast[ind].split("|")
    profit=data.revenue[ind]-data.budget[ind]
    
    for item in arr:
       cast_dict[item]+=profit

print(cast_dict.most_common(1))

[('Emma Watson', 6666245597)]

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [21]:
answer_ls.append(3)
import collections
cast_dict=collections.Counter()
datatemp=data[data.release_year==2012]
for ind in datatemp.index:
    arr=datatemp.cast[ind].split("|")
    profit=datatemp.revenue[ind]-datatemp.budget[ind]
    
    for item in arr:
       cast_dict[item]+=profit
cast_dict.most_common()[-1]

('Kirsten Dunst', -68109207)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [22]:
answer_ls.append(3)
import collections
cast_dict=collections.Counter()
datatemp=data[data.budget>data.budget.mean()]
for ind in datatemp.index:
    arr=datatemp.cast[ind].split("|")
    for item in arr:
       cast_dict[item]+=1
cast_dict.most_common(1)

[('Matt Damon', 18)]

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [23]:
answer_ls.append(2)
import collections
genres_col=collections.Counter()
datatemp=data[data.cast.str.contains('Nicolas Cage')]
genres_list=datatemp.genres
for genres_item in genres_list:
    arr=genres_item.split("|")
    for item in arr:
        genres_col[item]+=1
genres_col.most_common(1)

[('Action', 17)]

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [24]:
answer_ls.append(1)
import collections
stud_dict=collections.Counter()
stud_list=data.production_companies
for studies in stud_list:
    arr=studies.split("|")
    for item in arr:
        stud_dict[item]+=1
stud_dict.most_common(1)

[('Universal Pictures', 173)]

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [25]:
answer_ls.append(4)
import collections
stud_dict=collections.Counter()
stud_list=data[data.release_year==2015].production_companies
for studies in stud_list:
    arr=studies.split("|")
    for item in arr:
        stud_dict[item]+=1
stud_dict.most_common(1)

[('Warner Bros.', 12)]

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [26]:
answer_ls.append(2)
import collections
stud_dict=collections.Counter()
datatemp=data[data.genres.str.contains('Comedy')]
for ind in datatemp.index:
    profit=datatemp.revenue[ind]-datatemp.budget[ind]
    arr=datatemp.production_companies[ind].split("|")
    for item in arr:
        stud_dict[item]+=profit
stud_dict.most_common(1)

[('Universal Pictures', 8961545581)]

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [27]:
answer_ls.append(3)
import collections
stud_dict=collections.Counter()
datatemp=data[data.release_year==2012]
for ind in datatemp.index:
    profit=datatemp.revenue[ind]-datatemp.budget[ind]
    arr=datatemp.production_companies[ind].split("|")
    for item in arr:
        stud_dict[item]+=profit
stud_dict.most_common(1)

[('Columbia Pictures', 2501406608)]

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [28]:
answer_ls.append(1)
datatemp=pd.DataFrame(data[data.production_companies.str.contains('Paramount Pictures')])
datatemp['profit']=datatemp.revenue-datatemp.budget
datatemp[datatemp.profit==datatemp.profit.min()].original_title

926    K-19: The Widowmaker
Name: original_title, dtype: object

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [29]:
answer_ls.append(5)
datatemp=pd.DataFrame(data)
datatemp['profit']=data.revenue-data.budget
data_year=datatemp.groupby('release_year').profit.sum()
data_year=data_year.reset_index()
data_year.columns=['year','profit']
data_year[data_year.profit==data_year.profit.max()]

    year       profit
15  2015  18668572378

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [30]:
answer_ls.append(1)
datatemp=pd.DataFrame(data[data.production_companies.str.contains('Warner Bros')])
datatemp['profit']=data.revenue-data.budget
data_year=datatemp.groupby('release_year').profit.sum()
data_year=data_year.reset_index()
data_year.columns=['year','profit']
data_year[data_year.profit==data_year.profit.max()]

    year      profit
14  2014  2295464519

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [31]:
answer_ls.append(4)
import collections
month_dict=collections.Counter()
date_list=data.release_date
for date in date_list:
    month=pd.to_datetime(date).month
    month_dict[month]+=1
month_dict.most_common(1)

[(9, 227)]

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [32]:
answer_ls.append(2)
month_dict[6]+month_dict[7]+month_dict[8]

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [33]:
answer_ls.append(5)
import collections
datatemp=pd.DataFrame(data)
datatemp["month"]=pd.DatetimeIndex(datatemp.release_date).month
winter_month=(12,1,2)
datatemp_w=datatemp[datatemp.month.isin(winter_month)]
datatemp_w

director_dict=collections.Counter()
for directors_item in datatemp_w.director:
    arr=directors_item.split("|")
    for item in arr:
        director_dict[item]+=1
director_dict.most_common(1)

[('Peter Jackson', 7)]

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [34]:
answer_ls.append(2)
import collections
datatemp=pd.DataFrame(data)
datatemp["month"]=pd.DatetimeIndex(datatemp.release_date).month
datatemp["year"]=pd.DatetimeIndex(datatemp.release_date).year
datatemp["profit"]=datatemp.revenue-datatemp.budget
datatemp=datatemp[['year','month', 'profit']]
data_gr=datatemp.groupby(['year','month']).profit.sum()
months_dict=collections.Counter()
years=set(datatemp['year'])
for year in years:
    data_year=data_gr[year].reset_index()
    month=int(data_year[data_year.profit==data_year.profit.max()].month)
    months_dict[month]+=1
months_dict.most_common(1)

[(6, 7)]

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [35]:
answer_ls.append(5)
st_dict=[]
for ind in data.index:
    title_len=len(data.original_title[ind])
    arr=data.production_companies[ind].split("|")
    for item in arr:
        st_dict.append({'st':item, 'flen': title_len})
datatemp=pd.DataFrame(st_dict)
data_st=datatemp.groupby(datatemp.st).flen.mean()
data_st=data_st.reset_index()
data_st[data_st.flen==data_st.flen.max()]

                          st  flen
584  Four By Two Productions  83.0

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [36]:
answer_ls.append(5)
st_dict=[]
for ind in data.index:
    title_len=len(data.original_title[ind].split())
    arr=data.production_companies[ind].split("|")
    for item in arr:
        st_dict.append({'st':item, 'flen': title_len})
datatemp=pd.DataFrame(st_dict)
data_st=datatemp.groupby(datatemp.st).flen.mean()
data_st=data_st.reset_index()
data_st[data_st.flen==data_st.flen.max()]

                          st  flen
584  Four By Two Productions  12.0

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [37]:
answer_ls.append(3)
words=[]
for ind in data.index:
    arr=data.original_title[ind].split()
    words+=arr
words=[x.lower() for x in words]
len(set(words))

2461

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [38]:
answer_ls.append(1)
datatemp=data.sort_values(by=['vote_average'], ascending=False)[['original_title','vote_average']].head(int(len(data)/100))

data1=pd.DataFrame({"original_title":["Inside Out", "Gone Girl", "12 Years a Slave"]})
data2=pd.DataFrame({"original_title":["BloodRayne", "The Adventures of Rocky & Bullwinkle"]})
data3=pd.DataFrame({"original_title":["The Lord of the Rings: The Return of the King]", "Upside Down"]})
data4=pd.DataFrame({"original_title":["300", "Lucky Number Slevin"]})
data5=pd.DataFrame({"original_title":["Upside Down", "300", "Inside Out", "The Lord of the Rings: The Return of the King"]})
                                      
print("option 1", len(datatemp.merge(data1, on="original_title", how="inner")))    
print("option 2", len(datatemp.merge(data2, on="original_title", how="inner")))                                    
print("option 3", len(datatemp.merge(data3, on="original_title", how="inner")))                                    
print("option 4", len(datatemp.merge(data4, on="original_title", how="inner"))) 
print("option 5", len(datatemp.merge(data5, on="original_title", how="inner")))

option 1 3
option 2 0
option 3 0
option 4 0
option 5 2

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [39]:
answer_ls.append(5)

print(len(data[(data.cast.str.contains('Johnny Depp')) & (data.cast.str.contains("Helena Bonham Carter"))]))
print(len(data[(data.cast.str.contains('Hugh Jackman')) & (data.cast.str.contains("Ian McKellen"))]))
print(len(data[(data.cast.str.contains('Vin Diesel')) & (data.cast.str.contains("Paul Walker"))]))
print(len(data[(data.cast.str.contains('Adam Sandler')) & (data.cast.str.contains("Kevin James"))]))
print(len(data[(data.cast.str.contains('Daniel Radcliffe')) & (data.cast.str.contains("Rupert Grint"))]))

6
5
5
5
8

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [40]:
answer_ls.append(4)
import collections
datatemp=pd.DataFrame(data[['director','revenue','budget']])
datatemp['issuc']=datatemp.revenue-datatemp.budget
datatemp.issuc=datatemp.issuc.apply(lambda x: 1 if x>0 else 0)
datatemp=datatemp[['director', 'issuc']]
dir_dict_total=collections.Counter()
dir_dict_suc=collections.Counter()
dir_final=[]
for ind in datatemp.index:
    arr=datatemp.director[ind].split("|")
    for item in arr: 
        dir_dict_total[item]+=1
        if datatemp.issuc[ind]==1:
            dir_dict_suc[item]+=1
for dir,item in dir_dict_total.items():
    dir_final.append({'director': dir, 'percent': dir_dict_suc[dir]/item, 'total_films': item})
    
data_dir=pd.DataFrame(dir_final)
data_dir_best=data_dir[data_dir.percent==data_dir.percent.max()]
#display(data_dir_best.sort_values(by=["total_films"], ascending=False))
#data_best_most=data_dir_best[data_dir_best.total_films==data_dir_best.total_films.max()]
#data_best_most

data_opt=pd.DataFrame({"director":["Quentin Tarantino", "Steven Soderbergh", "Robert Rodriguez", "Christopher Nolan", "Clint Eastwood"]})
data_dir_best.merge(data_opt,on="director", how="inner")

            director  percent  total_films
0  Christopher Nolan      1.0            8

# Submission

In [41]:
len(answer_ls)

36

In [42]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4